<!DOCTYPE html>
<html lang="en"> 
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    {{>site/templates/meta-data.html}}
    <title>{{title}} | {{siteTitle}}</title>
    <link rel="icon" type="image/png" href="{{basePath}}/images/favicon.png">
    <link rel="stylesheet" href="{{basePath}}/css/style.css">
    <link rel="stylesheet" href="{{basePath}}/css/syntax.css">
</head>
<body>
    {{>site/templates/header.html}}

<div id="page">
    <div class="wrapper">
        <div class="masthead">
            <span class="title">
                {{title}}
            </span>

            {{#image}}
            <img class="post-image" src="{{basePath}}/images/{{image}}">
            {{/image}}

            {{#author}}
            <span class="byline">by {{author}}</span>
            {{/author}}

            <span class="date">{{date}}</span>

            <div class="metadata">
            </div>
        </div>
    </div>
    <article class="post">
        {{{content}}}
    </article>

</div>

{{>site/templates/footer.html}}
